{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block main %}
<h2>Sell Stocks</h2>
<form action="/sell" method="post">
<div class="mb-3">
<select class="form-select" name="symbol" required>
<option disabled selected>Symbol</option>
{% for symbol in symbols %}
<option value="{{ symbol }}">{{ symbol }}</option>
{% endfor %}
</select>
</div>
<div class="mb-3">
<input class="form-control" name="shares" placeholder="Shares" type="number" min="1" required>
</div>
<button class="btn btn-danger" type="submit">Sell</button>
</form>
{% endblock %}
